*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    background: #fafafa;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*Тех классы_____________________________________________*/
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*Хедер__________________________________________________*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header_container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header_container{
        min-height: 70px;
    }
}
.header_logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header_menu{
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header_menu{
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header_menu{
        margin: 0 0 0 40px;
    }
}

@media (max-width: 479px) {
    .header_menu{
        margin: 0 0 0 20px;
    }
}
.menu{
    padding: 5px 0;

}
.menu_list{
    flex-wrap: wrap;
    display: flex;
}

.menu_item{

}
.menu_item:not(:last-child){
    margin: 0 21px 0 0;
}

.menu_link{
    line-height: calc(24/14*100%);
    font-weight: 600;
    color: #737373;
}
@media (max-width: 479px) {
    .menu_link{
        font-size: 18px;
    }
}

/*Page----------------------------------------------*/
.page{
    flex: 1 1 auto;
}
.page_main-block{}

.page_services{
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}

.page__advantages{}

/*Header-block-----------------------------------------*/
.header-block{
    text-align: center;
    letter-spacing: 0.2px;

}
.header-block__title{
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
}
.header-block__title:not(:last-child){
    margin: 0 0 10px 0;
}
.header-block__sub-title{
    line-height: 142%;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title{
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block__title{
        font-size: 30px;
    }
}
/*Main-block___________________________________________*/
.main-block{
    position: relative;
}
.main-block_container{}
.main-block_body{
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width: 992px) {
    .main-block_body{
        padding: 120px 0 191px 0;
    }
}
@media (max-width: 479px) {
    .main-block_body{
        padding: 115px 0 160px 0;
    }
}


.main-block_body > *:not(:last-child){
    margin: 0 0 35px 0;
}
.main-block_title{
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: calc(80/58*100%);
    font-weight: 800;
}

@media (max-width: 479px) {
    .main-block_title{
        font-size: 42px;
    }
}

.main-block_text{
    font-size: 20px;
    color: #737373;
    line-height: 150%;
}
@media (max-width: 479px) {
    .main-block_text{
        color: #585757;
    }
}
.main-block_buttons{
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 ;
}
.main-block_button{
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;
    line-height: 200%;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;

}

@media (max-width: 479px) {
    .main-block_button{
        flex: 1 1 100%;
    }
}
@media (min-width: 479px) {
    .main-block_button:not(:last-child){
        margin-right: 10px;
    }
}
.main-block_button_border{
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.main-block_button_orange{
    background: #ff7b47;
    color: #fff;
}
.main-block_image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block_image img{
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block_image img{
        opacity: 0.5;
    }
}

/*Сервис---------------------------------------------*/
.page_services{}
.services{

}
.services_container{
}
.services_body{

}
@media (min-width: 670px){
    .services_body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
.services_column{
    flex: 0 1 33.333%;

}

@media (min-width: 670px){
    .services_column{
        padding: 0 15px;
    }

}

@media (max-width: 992px){
    .services_column{
    flex: 0 1 50%;
    }
    .services_column:last-child{
        flex: 1 1 100%;
    }
    .services_column:not(:last-child){
        margin: 0 0 30px 0;
    }
}
.services_item{
    height: 100%;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07) ;
    background-color: #fff;
    padding: 35px;
}

@media (max-width: 479px){
    .services_item{
        padding: 25px;
    }
}
.item-service{}
.item-service > *:not(:last-child){
    margin: 0 0 10px 0;
}

.item-service_green{
    background-color: #0d5c63;
}

.item-service_green .item-service_title{
    color: #fff;
}

.item-service_green .item-service_text{
    color: #fff;
}
.item-service_icon{}
.item-service_title{
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.item-service_text{
    color: #737373;
    line-height: 142%;
}

/*Advantages-------------------------------------------*/


.advantages{
    padding: 80px 0;
}
@media (max-width: 992px) {
    .advantages{
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages{
        padding: 30px 0;
    }
}
.advantages__container{}
.advantages__header{
    margin: 0 0 50px 0;
}

@media (max-width: 767px) {
    .advantages__header{
        margin: 0 0 25px 0;
    }
}

.advantages__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column{
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}

@media (max-width: 1035px) {
    .advantages__column{
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column{
        flex: 0 1 100%;
    }
}

.advantages__item{
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
.advantages__item >* :not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages__icon{
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value{
    font-size: 40px;
    line-height: 142%;

}
.advantages__text{
    letter-spacing: 0.1px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;

}
    /*Футер----------------------------------------------*/
.footer{

}