*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    background: #fafafa;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*Тех классы_____________________________________________*/
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*Хедер__________________________________________________*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header_container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header_container{
        min-height: 70px;
    }
}
.header_logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header_menu{
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header_menu{
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header_menu{
        margin: 0 0 0 40px;
    }
}

@media (max-width: 479px) {
    .header_menu{
        margin: 0 0 0 20px;
    }
}
.menu{
    padding: 5px 0;

}
.menu_list{
    flex-wrap: wrap;
    display: flex;
}

.menu_item{

}
.menu_item:not(:last-child){
    margin: 0 21px 0 0;
}

.menu_link{
    line-height: calc(24/14*100%);
    font-weight: 600;
    color: #737373;
}
.menu_link:hover{
    text-decoration: underline;
}
@media (max-width: 479px) {
    .menu_link{
        font-size: 18px;
    }
}

/*Page----------------------------------------------*/
.page{
    flex: 1 1 auto;
}
.page_main-block{}

.page_services{
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}

.page__advantages{}

.page__practice{}

.page__whoweare{}

.page__clients:not(:last-child){
    margin: 0 0 10px 0;
}

.page__subscribe{}

.page__getintouch{}

.page__contact{}
/*Header-block-----------------------------------------*/
.header-block{
    text-align: center;
    letter-spacing: 0.2px;

}
.header-block__title{
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
}
.header-block__title:not(:last-child){
    margin: 0 0 10px 0;
}
.header-block__sub-title{
    line-height: 142%;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title{
        font-size: 35px;
    }
}

@media (max-width: 767px) {
    .header-block__title{
        font-size: 30px;
    }
}
/*Main-block___________________________________________*/
.main-block{
    position: relative;
}
.main-block_container{}
.main-block_body{
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media (max-width: 992px) {
    .main-block_body{
        padding: 120px 0 191px 0;
    }
}
@media (max-width: 479px) {
    .main-block_body{
        padding: 115px 0 160px 0;
    }
}


.main-block_body > *:not(:last-child){
    margin: 0 0 35px 0;
}
.main-block_title{
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: calc(80/58*100%);
    font-weight: 800;
}

@media (max-width: 479px) {
    .main-block_title{
        font-size: 42px;
    }
}

.main-block_text{
    font-size: 20px;
    color: #737373;
    line-height: 150%;
}
@media (max-width: 479px) {
    .main-block_text{
        color: #585757;
    }
}
.main-block_buttons{
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 ;
}
.main-block_button{
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;
    line-height: 200%;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    transition: all 0.3s ease 0s;

}

@media (max-width: 479px) {
    .main-block_button{
        flex: 1 1 100%;
    }
}
@media (min-width: 479px) {
    .main-block_button:not(:last-child){
        margin-right: 10px;
    }
}
.main-block_button_border{
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.main-block_button_orange{
    background: #ff7b47;
    color: #fff;
}

.main-block_button_orange:hover{
    background-color: #ffffff;
    color: #ff7b47;
}
.main-block_button_border:hover{
    color: #fff;
    background-color: #0d5c63;
}
.main-block_image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block_image img{
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block_image img{
        opacity: 0.5;
    }
}

/*Сервис---------------------------------------------*/
.page_services{}
.services{

}
.services_container{
}
.services_body{

}
@media (min-width: 670px){
    .services_body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
.services_column{
    flex: 0 1 33.333%;

}

@media (min-width: 670px){
    .services_column{
        padding: 0 15px;
    }

}

@media (max-width: 992px){
    .services_column{
    flex: 0 1 50%;
    }
    .services_column:last-child{
        flex: 1 1 100%;
    }
    .services_column:not(:last-child){
        margin: 0 0 30px 0;
    }
}
.services_item{
    height: 100%;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07) ;
    background-color: #fff;
    padding: 35px;
}

@media (max-width: 479px){
    .services_item{
        padding: 25px;
    }
}
.item-service{}
.item-service > *:not(:last-child){
    margin: 0 0 10px 0;
}

.item-service_green{
    background-color: #0d5c63;
}

.item-service_green .item-service_title{
    color: #fff;
}

.item-service_green .item-service_text{
    color: #fff;
}
.item-service_icon{}
.item-service_title{
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.item-service_text{
    color: #737373;
    line-height: 142%;
}

/*Advantages-------------------------------------------*/


.advantages{
    padding: 80px 0;
}
@media (max-width: 992px) {
    .advantages{
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages{
        padding: 30px 0;
    }
}
.advantages__container{}
.advantages__header{
    margin: 0 0 50px 0;
}

@media (max-width: 767px) {
    .advantages__header{
        margin: 0 0 25px 0;
    }
}

.advantages__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column{
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}

@media (max-width: 1035px) {
    .advantages__column{
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column{
        flex: 0 1 100%;
    }
}

.advantages__item{
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}
.advantages__item >* :not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages__icon{
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value{
    font-size: 40px;
    line-height: 142%;

}
.advantages__text{
    letter-spacing: 0.1px;
    color: #737373;
    font-size: 16px;
    line-height: 150%;

}
/*Practice-----------------------------------------------*/


.practice{
    padding: 125px 0 80px 0;
}
@media (max-width: 993px) {
    .practice{
        padding: 40px 0 80px 0;
    }
}
@media (max-width: 767px) {
    .practice{
        padding: 0 0 40px 0;
    }
}
.practice_container{

}
.practice__header{
    margin: 0 0 45px 0;
}
@media (max-width: 767px) {
    .practice__header{
        margin: 0 0 25px 0;
    }
}
.practice__body{
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column{
    padding: 0 20px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}
@media (max-width: 1040px) {
    .practice__column{
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .practice__column{
        flex: 0 1 100%;
    }
}

.practice__item{

}
.item-practice{
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.item-practice__content{
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link{
    color: inherit;
    display: inline-block;
}
.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0 0 15px 0;
}
.item-practice__title{
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice__text{
    color: #737373;
    line-height: 142%;
}
.item-practice__image{
    display: block;
    padding: 0 0 60% 0;
    position: relative;
}
    /*Whoweare-------------------------------------------*/
.whoweare {
    padding: 80px 0 130px 0;
    background: #ffffff;
}
.whoweare__container{}
.whoweare__header {
    margin: 0 0 100px 0;
}
.whoweare__body{
    display: flex;
    align-items: flex-start;
}

.whoweare__video{
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content{
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
}

.whoweare__title{
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child){
    margin: 0 0 10px 0;
}
.whoweare__text{
    color: #737373;
    line-height: 142%;
}
.whoweare__top:not(:last-child){
    margin: 0 0 50px 0;
}
.whoweare__items{
}
.whoweare__item{

}
.whoweare__item:not(:last-child){
    margin: 0 0 30px 0;
}
.item-whoweare{
    display: flex;
}
.item-whoweare__icon{
    flex: 0 0 32px;
}
.item-whoweare__body{
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-whoweare__title:not(:last-child){
    margin: 0 0 5px 0;
}
.item-whoweare__text{
    color: #737373;
    line-height: 142%;

}
@media (max-width: 1080px) {
    .whoweare__content{
        padding: 0 0 0 50px;
    }
}
@media (max-width: 950px) {
    .whoweare {
        padding: 50px 0 50px 0;
    }
    .whoweare__title{
        font-size: 24px;
    }
    .whoweare__content{
        padding: 0 0 0 0;
    }
    .whoweare__video{
        padding: 0 0 56.25% 0;
    }
    .whoweare__video:not(:last-child){
        margin: 50px 0 0 0;
    }
    .whoweare__header{
        margin: 0 0 30px 0;
    }
    .whoweare__body{
        flex-direction: column-reverse;
        align-items: stretch;

    }
}
@media (max-width: 767px) {
    .whoweare {
        padding: 20px 0 50px 0;
    }
    .whoweare__video:not(:last-child){
        margin: 30px 0 0 0;
    }
    .whoweare__top:not(:last-child){
        margin: 0 0 30px 0;
    }
}

    /*Clients--------------------------------------------*/
.clients{
    padding: 50px 0;
}
@media (max-width: 767px) {
    .clients{
        padding: 30px 0;
    }
}
.clients__container{}
.clients__items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item{
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients__item img {
    max-width: 100%;
}

    /*Subscriber-----------------------------------------*/

.subscribe{
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252B42;
}
.subscribe__container{}
.subscribe__body{
    position: relative;
    z-index: 2;



    padding: 30px 50px;
    align-items: center;
    border-radius: 2px;
    background: #17213c;
}
@media (min-width: 1070px) {
    .subscribe__body{
        margin: 0 30px;
    }
}
@media (min-width: 810px) {
    .subscribe__body{
        display: flex;
        justify-content: space-between;
    }
}
.subscribe__title{
    color: #fff;

    font-size: 133%;
    letter-spacing: 0.1px;
    font-weight: 700;
    line-height: 32px;
}
@media (max-width: 810px) {
    .subscribe__title{
        margin: 0 0 20px 0;
    }
    .subscribe__body{
        margin:0 -15px;
        padding: 20px 25px;
    }
}
@media (min-width: 810px) {
    .subscribe__title{
        max-width: 266px;
    }
}
.subscribe__form{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input{
    width: 100%;
    flex: 1 1 auto;
    background: #f9f9f9;
    min-height: 58px;
    padding: 0 20px ;
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.subscribe__input:focus{
    color: #000;
}
.subscribe__button{
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 0 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.subscribe__button:hover{
    background: #ca6137;
}
@media (max-width: 810px) {
    .subscribe__button{
        padding: 0 15px;
    }
    .subscribe__input{
        padding: 0 15px;
    }
}

    /*Getintouch-----------------------------------------*/
.getintouch{
    padding: 80px 0 135px 0 ;
}
.getintouch__container{}
.getintouch__header{
    margin: 0 0 80px 0;
}
.getintouch__items{
    margin: 0 -15px;
}

.getintouch__item{
    flex: 0 1 33.333%;
}
.item-getintouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px 15px;
}
.item-getintouch__active{
    background: #252b42;
    padding: 80px 15px;
    color: #fff;
}

.item-getintouch__active .item-getintouch__button {
    border: 1px solid #fff;
    color: #fff;
}

.item-getintouch > *:not(:last-child){
    padding: 0 0 15px 0;
}

.item-getintouch__icon{
}
.item-getintouch__emails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email{
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}
.item-getintouch__email:hover{
    text-decoration: underline;
}
.item-getintouch__label{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

}
.item-getintouch__button{
    border: 1px solid #ff7b47;
    min-height: 44px;
    border-radius: 5px;
    display: flex;
    font-weight: 600;
    color: #ff7b47;
    line-height: 142%;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover{
    border: 1px solid #ff7b47;
    background-color: #ff7b47;
    color: #ffffff;
}

@media (min-width: 992px) {
    .getintouch__items{
        margin: 0;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .getintouch{
        padding: 50px 0;
    }
    .getintouch__header{
        margin: 0 0 50px 0;
    }
    .item-getintouch__active{
        padding: 50px 15px;
    }
}
@media (max-width: 767px) {
    .getintouch__header{
        margin: 0 0 30px 0;
    }
}
    /*Contact--------------------------------------------*/
.contact{
    background-color: #ffffff;
    padding: 42px 0;
}
.contact__container{}
.contact__content{
    padding: 0 0 20px 0;
}

@media (min-width: 767px) {
    .contact__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact__content{
        padding: 0 20px 0 0;
    }
}

.contact__title{
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.contact__title:not(:last-child){
    margin: 0 0 10px 0;
}
.contact__text{
    color: #737373;
    line-height: 142%;
}
.contact__button{
    display: flex;
    background-color: #ff7b47;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    transition: background-color 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;

}
.contact__button:hover{
    background-color: #aa5330;

}
    /*Футер----------------------------------------------*/
.footer{
}
.footer__top{
    background:#17213c;
    padding: 35px 0;
}
.footer__main{

}
.footer__row{
    display: flex;
    flex-wrap:wrap ;
    margin: 0 -15px;
}
.footer__column{
    padding: 15px 15px;
    flex: 0 1 16.667%;

}
@media (max-width: 992px) {
    .footer__column{
        flex: 0 1 25%;
    }
    .footer__column:last-child{
        flex: 0 1 100%;
    }
}
@media (max-width: 992px) {
    .footer__column{
        flex: 0 1 50%;
    }
}
.footer__column:last-child{
    flex: 0 1 33.334%;
}
.footer__label{
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 20px 0;

}
.footer__menu{}
.menu-footer{}
.menu-footer__list{}
.menu-footer__item:not(:last-child){
    margin: 0 0 10px 0;
}
.menu-footer__link{
    color: #ffffff;
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}
.menu-footer__link:hover{
    text-decoration: underline;
}

.footer__contacts{}
.contacts-footer{
    display: flex;
    flex-direction: column;
}
.contacts-footer__item {
    padding: 0 0 0 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: #ffffff;
}
.contacts-footer__item:hover{
    text-decoration: underline;
}
.contacts-footer__item:not(:last-child){
    margin: 0 0 12px 0;
}
.contacts-footer__item_phone{
    background: url("../img/footer/foot_01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map{
    background: url("../img/footer/foot_02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email{
    background: url("../img/footer/foot_03.svg") 0 0 no-repeat;
}
.footer__bottom{
    padding: 25px 0;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__copy{
    color: #737373;
    line-height: 171%;


}
.footer__social{}
.social{
    display: flex;
    align-items: center;
}
.social__item:not(:last-child){
    margin: 0 20px 0 0;
}

@media (max-width: 767px) {
    .footer__container{
        flex-direction: column;
    }
    .footer__copy{
        margin: 0 0 15px 0;
        text-align: center;

    }
}