*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*Тех классы_____________________________________________*/
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*Хедер__________________________________________________*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header_container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px) {
    .header_container{
        min-height: 70px;
    }
}
.header_logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header_menu{
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header_menu{
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header_menu{
        margin: 0 0 0 40px;
    }
}

@media (max-width: 479px) {
    .header_menu{
        margin: 0 0 0 20px;
    }
}
.menu{
    padding: 5px 0;

}
.menu_list{
    flex-wrap: wrap;
    display: flex;
}

.menu_item{

}
.menu_item:not(:last-child){
    margin: 0 21px 0 0;
}

.menu_link{
    line-height: calc(24/14*100%);
    font-weight: 600;
    color: #737373;
}
@media (max-width: 479px) {
    .menu_link{
        font-size: 18px;
    }
}

/*Page----------------------------------------------*/
.page{
    flex: 1 1 auto;
}
.page_main-block{}

/*Main-block___________________________________________*/
.main-block{
    position: relative;
}
.main-block_container{}
.main-block_body{
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
.main-block_body > *:not(:last-child){
    margin: 0 0 35px 0;
}
.main-block_title{
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: calc(80/58*100%);
    font-weight: 800;
}
.main-block_text{
    font-size: 20px;
    color: #737373;
    line-height: 150%;

}
.main-block_buttons{
    display: inline-flex;
}
.main-block_button{

    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    letter-spacing: 0.2px;

    line-height: 200%;
    font-weight: 700;
    text-align: center;

}
.main-block_button:not(:last-child){
    margin: 0 10px 0 0;
}
.main-block_button_border{
    color: #0d5c63;
    border: 1px solid #0d5c63;
}
.main-block_button_orange{
    background: #ff7b47;
    color: #fff;
}
.main-block_image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block_image img{
        object-position: right;
    }
}
/*Футер----------------------------------------------*/
.footer{

}